ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
      padding: 0 !important;
    label{
        display: block;
        padding: 7px 11px
    }
    input[type="radio"] {
      text-decoration: none;
      display: block;
    //   visibility: hidden;
      width: 100%;
      height: 100%;
    }
  }
}
