$primary: #006699;
body{
	overflow-x: hidden;
}
h2 {
	color: $primary;
}
#content-container{
	min-height: 56.7vh; ///This height is based on footer height, so footer always stays at the bottom of the page
}
.carousel {
	box-sizing: border-box;
	margin: -14px
}
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: default;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
input[type=radio] {
    // display: none;
}